.category-expenses-container {
  padding: 1rem;
  width: 90%;
  height: 90%; 
  background-color: white;
  border-radius: 12px;
}

.category-expense-title {
  padding: 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-family: 'Roboto', sans-serif;
}

.no-transactions {
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  color: grey;
  font-family: 'Roboto', sans-serif;
}
