.category-expenses-container {
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 10px;
  min-height: 500px;
  margin-left: 2rem;
  border: 1px solid black;
}

.category-expense-title {
  font-size: 1rem;
  padding-bottom: 30px;
  font-family: 'Roboto', sans-serif;
}

.no-transactions {
  margin-top: 12rem;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  color: grey;
  font-family: 'Roboto', sans-serif;
}
