<div class="logo-title-container">
  <img src="assets/images/wallet-black-symbol.png" alt="Expense Tracker" class="expense-logo"/>
  <div class = "title-container">
    <div class="expense-title">Expense Tracker</div>
    <div class="expense-sub-title">Manage your income and expenses efficiently</div>
  </div>

  <div class = "add-transaction-container">
    <button class = "add-transaction-btn" (click)="onAddTransaction()">
      <span class="plus-icon">+</span>
       Add Transaction
    </button>
  </div>

</div>
