.header-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 1rem, auto;
  padding: 0.8rem;
  background-color: white;
  //border: 1px solid black;
}

.logo-title-container {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
}

.title-container {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.expense-title {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
}

.expense-sub-title {
  color: grey;
  font-family: 'Roboto', sans-serif;
}

.expense-logo {
  width: 80px;
  height: 80px;
}

.login-button {
  margin-right: 2rem;  
  padding: 0.8rem 2rem;
  background-color: #0f172a;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
}

.hero-section {
  display: flex;
  text-align: center;
  padding: 3rem;
  background-color: #fafafa;
}

.hero-text {
  width: 100%;
}

.hero-text h1 {
  font-size: 2.5rem;
  color: #000;
}

.hero-text p {
  font-size: 1.1rem;
  color: #333;
  margin: 1rem 0 2rem 0;
}

.primary-btn {
  background-color: #1976d2;
  color: #fff;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.primary-btn:hover {
  background-color: #67acf0;
}

.hero-image img {
  width: 95%;
  height: 200px;
}

.features-title{
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
    color: #000;
}

.features-container {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.feature-card {
    background-color: #1976d2;
    color: white;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 1.5rem;
    width: 22%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.steps-title {
    text-align: center;
    font-size: 2rem;
    margin-top: 2rem;
    color: #000;
}

.steps-subtitle {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color: #555;
}

.steps-container {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}


.steps-card {
    padding: 1.5rem;
    width: 22%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #1976d2;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 1rem;
}

.footer-container {
    background-color: #0f172a;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}