<div class="header-container">

    <!-- logo + title -->
    <div class="logo-title-container">
        <img src="assets/images/wallet-black-symbol.png" alt="Expense Tracker" class="expense-logo" />
        <div class="title-container">
            <div class="expense-title">Expense Tracker</div>
            <div class="expense-sub-title">Manage your income and expenses efficiently</div>
        </div>
    </div>


    <button mat-raised-button color="primary" class="login-button" routerLink="/login">
        Login
    </button>
</div>


<section class="hero-section">
    <div class="hero-text">
        <h1>Take Control of Your Finances</h1>
        <p>Track your spending, set goals, and stay on top of your expenses — all in one place.</p>
        <button routerLink="/signup" class="primary-btn">Get Started</button>
    </div>

    <!-- <div class="hero-image">
      <img src="assets/images/tracking-your-expenses-notes.jpg" alt="Expense Tracker Illustration" />
    </div>  -->
</section>


<h2 class="features-title">Why use Expense Tracker?</h2>

<div class="features-container">
    <div class="feature-card">
        <h3>Expense Tracking</h3>
        <p>Easily log and categorize your expenses to see where your money is going.</p>
    </div>
    <div class="feature-card">
        <h3>Spending Insights</h3>
        <p>Get detailed reports and insights to help you make informed financial decisions.</p>
    </div>
    <div class="feature-card">
        <h3>Budget Management</h3>
        <p>Set budgets for different categories and track your progress throughout the month.</p>
    </div>
</div>

<h2 class="steps-title">Start Tracking in 3 simple steps</h2>
<h1 class="steps-subtitle">It's quick and easy to get started!</h1>


<div class="steps-container">
    <div class="steps-card">
        <h1 class="avatar">1</h1>
        <h2>Create Account</h2>
        <p>Sign up in seconds with your email.</p>
    </div>
    <div class="steps-card">
        <h1 class="avatar">2</h1>
        <h2>Add expenses</h2>
        <p>Manually enter expenses</p>
    </div>
    <div class="steps-card">
        <h1 class="avatar">3</h1>
        <h2>Track and save</h2>
        <p>Get Insights into your savings and watch your savings grow.</p>
    </div>
</div>

<div class="footer-container">
    <p>&copy; 2025 Expense Tracker. All rights reserved.</p>
</div>