<div class="header-container">

  <!-- logo + title -->
  <div class="logo-title-container">
    <img src="assets/images/wallet-black-symbol.png" alt="Expense Tracker" class="expense-logo" />
    <div class="title-container">
      <div class="expense-title">Expense Tracker</div>
      <div class="expense-sub-title">Manage your income and expenses efficiently</div>
    </div>
  </div>


  <div class=nav-links-user-section>

    <!-- nav links -->
    <nav class="nav-links">
      <a id="home" routerLink="/dashboard" routerLinkActive="active">Home</a>
      <a id="expenses" routerLink="/expenses" routerLinkActive="active">Expenses</a>
      <a id="settings" routerLink="/settings" routerLinkActive="active">Settings</a>
    </nav>

    <!-- user section -->
    <div class="user-section">
      <button mat-button [matMenuTriggerFor]="userMenu" class="avatar-btn">
        <div class="avatar">
          {{ userInitial }}
        </div>
      </button>

      <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="onProfile()">
          <mat-icon>person</mat-icon>
          <span>Profile</span>
        </button>
        <button mat-menu-item (click)="logout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>

        <mat-divider></mat-divider>

        <div class="user-info">
          <div class="user-name">{{ loggedInUser }}</div>
        </div>
      </mat-menu>
    </div>
  </div>

  <button class="nav-links-user-section-bars" (click)="toggleMobileMenu()">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
      <path fill-rule="evenodd"
        d="M3 6.75A.75.75 0 0 1 3.75 6h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 6.75ZM3 12a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75A.75.75 0 0 1 3 12Zm0 5.25a.75.75 0 0 1 .75-.75h16.5a.75.75 0 0 1 0 1.5H3.75a.75.75 0 0 1-.75-.75Z"
        clip-rule="evenodd" />
    </svg>
  </button>
  </div>

  <!-- Mobile Navigation start-->
    <div class="mobile-nav" id="mobileNav" [class.open]="mobileMenuOpen">
        <nav>
          <ul class = "mobile-nav-menu">
            <li> 
              <a class = "mobile-nav-link" href="#home">Home</a>
            </li>
             <li> 
               <a class = "mobile-nav-link" href="#expenses">Expenses</a> 
             </li>
              <li> 
                <a class = "mobile-nav-link" href="#settings">Settings</a>   
              </li>
              <li>
              </li>
              
                <li>
        <button class="mobile-nav-button" (click)="onProfile()">
          Profile
        </button>
      </li>
      <li>
        <button class="mobile-nav-button" (click)="logout()">
      
          Logout
        </button>
      </li>
            </ul>
          </nav>

    </div>

  <!-- Mobile Navigation end-->


