<div class="cards-container">
    <div class="card">
      <div class="card-title-container">
        <div class="card-title">Total Income</div>
        <mat-icon style="color: green">arrow_upward</mat-icon>
      </div>
      <div class="card-amount income-amount">$5,000.00</div>
    </div>

    <div class="card">
      <div class="card-title-container">
        <div class="card-title">Total Expenses</div>
        <mat-icon style="color: red">arrow_downward</mat-icon>
      </div>
      <div class="card-amount expense-amount">$3,200.00</div>
    </div>

    <div class="card">
      <div class="card-title-container">
        <div class="card-title">Net Balance</div>
        <mat-icon>account_balance_wallet</mat-icon>
      </div>
      <div class="card-amount balance-amount">$1,800.00</div>
    </div>

  </div>
