.container {
  //border: 1px solid red;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.bottom-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  //border: 1px solid black;
}

.category-and-insights-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.bottom-section> :first-child {
  flex-basis: 50%;
}

.bottom-section> :last-child {
  flex-basis: 50%;
}

@media (max-width: 2560px) {
  .container {
    max-width: 1440px;
  }
}

@media (max-width: 1440px) {
  .container {
    max-width: 1350px;
  }
}

@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 900px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
}

@media (max-width: 640px) {
  .container {
    max-width: 520px;
  }
}

@media (max-width: 475px) {
  .container {
    max-width: 430px;
  }
}