.container{
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: 2rem;
}

.bottom-section {
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
}

.bottom-section > :first-child {
  flex-basis: 45%;
}

.bottom-section > :last-child {
  flex-basis: 55%;
}
