<div class = "card">
     <img src="assets/images/dollar-square-svgrepo-com.svg" alt="No Transactions" class="no-transactions-logo" />
    <h2 class = "no-transactions-title">No Transactions yet</h2>
    <p class = "no-transactions-sub-title">
        Start tracking your finances by adding your first transaction. <br>
        Keep track of your income and expenses to better manage your budget.
    </p>
    <button class="add-transaction-btn" (click)="onAddTransaction()">
        Add Your First Transaction
    </button>
</div>
