.title {
  font-size: 1.5rem;
  margin-top: 0.5rem;
  font-family: 'Roboto', sans-serif;
}

.sub-title {
  color: grey;
  margin-top: 0.3rem;
  font-family: 'Roboto', sans-serif;
}

.title-container {
  margin-top: 1rem;
  margin-left: 2rem;
}

.table-container {
  margin-left: 1rem;
  margin-right: 1rem;
  padding-top: 10px;
  padding-bottom: 1rem;
}

.income {
  color: #1b7f3a;
  font-weight: 500;
  font-size: 1rem;
}

.expense {
  color: #c62828;
  font-weight: 500;
  font-size: 1rem;
}

.custom-table {
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #e0e0e0;
  padding: 20px;
}

.header-row {
  background-color: #f5f5f5;
  font-weight: 600;
  color: #333;
}

.txn-category {
  margin-top: 1rem;
}

.txn-category.income {
  width: 60%;
  background-color: #e6f4ea;
  color: #1b7f3a;
  border-radius: 6px;
  text-align: center;
  text-justify: auto;
  display: inline-block;
  font-weight: 400;
  font-size: 0.9rem;
}

.txn-category.expense {
  width: 60%;
  background-color: #fdeaea;
  color: #c62828;
  border-radius: 6px;
  text-align: center;
  text-justify: auto;
  display: inline-block;
  font-weight: 400;
  font-size: 0.9rem;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}

.mat-mdc-table {
  border-radius: 12px;
  overflow: hidden;
}

.mat-mdc-row,
.mat-mdc-header-row {
  border-bottom: 1px solid #e0e0e0;
}

.custom-table {
  width: 100%;
  border-radius: 12px;
  border: 1px;
  overflow: hidden;
}

.header-container {
  display: flex;
}

.transaction-dates {
  margin-left: auto;
  margin-top: 2.8rem;
  padding-right: 50px;
  color: grey;
  font-family: 'Roboto', sans-serif;
}