.finance-overview-container {
  display: flex;
  justify-content: space-between;
  //border: 1px solid black;
  padding: 2rem 1rem 0rem 1rem;
}

.finance-title-subtitle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;
}

.finance-overview-title {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
}

.finance-overview-sub-title {
  font-weight: 500;
  color: grey;
  font-family: 'Roboto', sans-serif;
}

.show-transaction-container {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.show-transaction-btn {
  border: 1.5px solid lightgrey;
  background-color: white;
  color: black;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease;
  font-family: 'Roboto', sans-serif;
  padding: 0rem 2rem;
  height: 3.5rem;
}

.month-year-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/*
::ng-deep .mat-mdc-form-field {
  width: 10rem !important;
} */

.month-select {
  width: 10rem !important;
}

.year-select {
  width: 10rem !important;
}

@media (max-width: 768px) {

  .finance-title-subtitle-container {
    justify-content: center;
    gap: 0.1rem;
    line-height: 1rem;
  }

  .finance-overview-container {
    padding: 1rem 0.5rem 0rem 1rem;
  }

  .finance-overview-title {
    font-size: 1rem;
    font-weight: 500;
  }

  .finance-overview-sub-title {
    font-size: 0.6rem;
    font-weight: 600;
  }

  .show-transaction-container {
    align-items: center;
    gap: 1.2rem;
  }

  .show-transaction-btn {
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0rem 0.6rem;
    height: 3rem;
    margin-bottom: 1rem;
  }

  .month-year-container {
    justify-content: flex-end;
    align-items: flex-end;
    gap: 20px;
  }

  .month-select {
    width: 8rem !important;
    height: 5rem !important;
  }

  .year-select {
    width: 5.3rem !important;
    height: 5rem !important;
  }
}

@media (max-width: 640px) {
   .finance-title-subtitle-container {
    gap: 0.1rem;
    line-height: 0.8rem;
  }

  .finance-overview-title {
    font-size: 0.8rem;
    font-weight: 500;
  }

  .finance-overview-sub-title {
    font-size: 0.6rem;
    font-weight: 600;
  }

  .show-transaction-container {
    gap: 0.8rem;
  }

  .show-transaction-btn {
    font-size: 0.6rem;
    font-weight: 800;
  }

  .month-year-container {
    gap: 10px;
  }

  .month-select {
    width: 7.6rem !important;
    height: 5rem !important;
  }

  .year-select {
    width: 5.3rem !important;
    height: 5rem !important;
  }
}

@media (max-width: 475px) {}

@media (max-width: 360px) {}

@media (max-width: 325px) {}