.category-expenses-container {
  border: 1px solid #e0e0e0;
  border-radius: 12px;
  padding: 10px;
  max-height: 500px;
  margin-left: 1rem;
}

.category-expense-title {
  font-size: 1rem;
  padding-bottom: 30px;
  font-family: 'Roboto', sans-serif;
}
