.register-container{  
  width: 100%;
  max-width: 30%;
  max-height: 90vh;
  overflow-y: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  background-color: white;
  text-align: center;
  font-family: Roboto, sans-serif;
}

.title {
  text-align: center;
  margin-bottom: 1rem;
}

.full-width {
  width: 100%;
}

.divider {
  text-align: center;
  margin: 0.5rem 0;
  font-weight: 500;
  color: #888;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px;
  cursor: pointer;
  font-size: 15px;
  border: none;
  border-radius: 6px;
}

.google-icon {
  width: 20px;
  height: 20px;
}

.login-link {
  text-align: center;
  margin-top: 1rem;
}

.sign-up-btn {
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  margin-top: 10px;
}

button[disabled] {
  background-color: #e0e0e0;
  color: #9e9e9e;
  cursor: not-allowed;
  border: none;
}

.mat-error div {
  font-size: 13px;
  margin: 2px 2px;
}

.rule-icon {
    max-width: 15px;
    max-height: 15px;
}

.password-rules {
    text-align: left;
    color: gray;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}