.header-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 0.5rem;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.expense-logo {
  width: 5rem;
  height: 5rem;
}

.expense-title {
  font-size: 1.5rem;
  font-family: 'Roboto', sans-serif;
}

.expense-sub-title {
  font-size: 0.75rem;
  color: grey;
  font-family: 'Roboto', sans-serif;
}

.title-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 0.25rem;
  padding-top: 2rem;
}

.login-container {
  width: 90%;
  height: 90%;
  max-width: 400px;
  max-height: 400px;
  margin: 10px auto;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  text-align: center;
  font-family: Roboto, sans-serif;
}

.login-title {
  margin-bottom: 0.5rem;
  color: #111;
  font-size: 1.5rem;
}

.login-sub-title {
  margin-bottom: 1rem;
  color: grey;
  font-size: 0.75rem;
}

.sign-in-btn {
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  margin-top: 30px;
}

.signup-text {
  margin-top: 16px;
  font-size: 14px;
}

.signup-text a {
  color: #007bff;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}

button[disabled] {
  background-color: #e0e0e0;
  color: #9e9e9e;
  cursor: not-allowed;
  border: none;
}

.divider {
  text-align: center;
  margin: 0.5rem 0;
  font-weight: 500;
  color: #888;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  color: #007bff;
  border: none;
}

@media (max-width: 425px) {
  .header-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .title-container {
    padding: 0;
    margin-left: 0;
    margin-top: 0.5rem;
  }

  .expense-title {
    font-size: 1.6rem;
  }

  .expense-sub-title {
    font-size: 0.9rem;
  }

  .login-container {
    max-width: 300px;
  }
}

@media (max-width: 375px) {
  .login-container {
    max-width: 250px;
  }

  @media (max-width: 320px) {
    .expense-title {
      font-size: 1.3rem;
    }

    .expense-sub-title {
      font-size: 0.75rem;
    }

    .login-container {
      max-width: 200px;
    }
  }
}