.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.expense-logo {
  width: 100%;
  height: 100%;
  max-width: 120px;
  max-height: 120px;
  padding: 10px
}

.expense-title {
  font-size: 2rem;
  margin-top: 3rem;
  font-family: 'Roboto', sans-serif;
}

.expense-sub-title {
  color: grey;
  margin-top: 0.3rem;
  font-family: 'Roboto', sans-serif;
}

.title-container {
  padding: 10px
 }

.login-container {
  width: 100%;
  height: 100%;
  max-width: 30%;
  max-height: 65vh;
  overflow-y: auto;
  margin: 20px auto;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  background-color: white;
  text-align: center;
  font-family: Roboto, sans-serif;
}

h2 {
  margin-bottom: 8px;
  color: #111;
}

p {
  margin-bottom: 20px;
  color: #666;
  font-size: 14px;
}

.sign-in-btn {
  width: 100%;
  padding: 10px;
  background-color: #000;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  margin-top: 30px;
}

.signup-text {
  margin-top: 16px;
  font-size: 14px;
}

.signup-text a {
  color: #007bff;
  text-decoration: none;
}

.signup-text a:hover {
  text-decoration: underline;
}

button[disabled] {
  background-color: #e0e0e0;
  color: #9e9e9e;
  cursor: not-allowed;
  border: none;
}

.divider {
  text-align: center;
  margin: 0.5rem 0;
  font-weight: 500;
  color: #888;
}

.full-width {
  width: 100%;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px;
  cursor: pointer;
  font-size: 15px;
  border: none;
  border-radius: 6px;
}

.google-btn:hover {
  background-color: darkgrey;
}

.google-icon {
  width: 20px;
  height: 20px;
}